main {
  min-height: 80vh;
}

footer {
  border-top: 1px solid black;
}

#header {
  top: 0;
  z-index: 1;
  transition: 0.2s;
  position: fixed;
  width: 100%;
  
}

#img {
  width: 100%;
  transition: 0.2s;
}


.rating span {
  margin: 0.1rem;
}

.rating svg {
  color: #ff0000c8;
}

.rating-text {
  font-size: 0.8rem;
  font-weight: 600;
  padding-left: 0.5rem;
}

.business-title {
  overflow: hidden; /* Hide overflow content */
  text-overflow: ellipsis; /* Add ellipsis for long text */
  white-space: nowrap; /* Prevent wrapping */
}

table td,
table th {
  text-align: center;
}

.review {
  margin-top: 30px;
}

.review h2 {
  font-size: 24px;
  background: #f4f4f4;
  padding: 10px;
  border: 1px solid #ddd;
}

.review button {
  margin-top: 10px;
}

.carousel-caption {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}